body {
    text-align: center;
}
.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}
.btn-container {
    display: flex;
    justify-content: center;
}
.pink {
    background-color: palevioletred;
}
.yellow {
    background-color: orange;
}
.green {
    background-color: slateblue;
}
.purple {
    background-color: skyblue;
}
.flash {
    background-color: white;
}
.userFlash {
    background-color: green;
}